.inputemail{
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;   
    background: #e3dff6;
    border: none;
    outline: none;  
    margin: 20px 0;
    text-transform: none;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01); 
    font-family: 'Roboto Slab', serif;
}